{
  "extends": ["standard", "prettier"],
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "import",
    "prettier",
    "sort-requires"
  ],
  "overrides": [
    {
      "files": [
        "*.test.js",
        "*.spec.js"
      ],
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "rules": {
    "prettier/prettier": ["error"],
    "sort-requires/sort-requires": ["error"],
    "sort-imports": ["error"],
    "no-console": ["error"]
  }
}
